[viewBag]
title = "VSCode"
url = "/doc/outils/vscode"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<style>
	.suivi a:visited {
		color:#444;
	}
</style>
<h1>Visual Studio Code</h1>

<h3>Un Éditeur exceptionnel</h3>

<!-- 2do: JS pour effacer historique => Mise en place d'un bouton -->

<p>Visiter un lien pour l'effacer, vider l'historique du navigateur pour re-initialiser les liens (Ctrl + h sous Chrom/chromium)</p>

<h4>Plugins</h4>

<ol class="suivi">
	<li><a href="https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-fr" rel="noopener noreferrer" target="_blank">French Language</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" rel="noopener noreferrer" target="_blank">Live Server</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=patbenatar.advanced-new-file" rel="noopener noreferrer" target="_blank">advanced-new-file</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-apache" target="_blank">Apache Conf</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=bladnman.auto-align" rel="noopener noreferrer" target="_blank">Auto-Align</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag" rel="noopener noreferrer" target="_blank">Auto Close Tag</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=kevinkyang.auto-comment-blocks" rel="noopener noreferrer" target="_blank">Auto Comment Blocks</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-complete-tag" rel="noopener noreferrer" target="_blank">Auto Complete Tag</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag" rel="noopener noreferrer" target="_blank">Auto Rename Tag</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=hnw.vscode-auto-open-markdown-preview" rel="noopener noreferrer" target="_blank">Auto-Open Markdown Preview</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=michelemelluso.code-beautifier" rel="noopener noreferrer" target="_blank">Beautify css/sass/scss/less</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=wwm.better-align" rel="noopener noreferrer" target="_blank">Better Align</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=thekalinga.bootstrap4-vscode" rel="noopener noreferrer" target="_blank">Bootstrap 4, Font awesome 4,&nbsp;</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=AESSoft.aessoft-class-autocomplete" rel="noopener noreferrer" target="_blank">Autocomplete HTML</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=predrag-nikolic.php-class-helper" rel="noopener noreferrer" target="_blank">Class Helper</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=Compulim.compulim-vscode-closetag" rel="noopener noreferrer" target="_blank">Close HTML/XML tag</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=mikestead.dotenv" rel="noopener noreferrer" target="_blank">DotENV</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=rexebin.f12-open-file" rel="noopener noreferrer" target="_blank">F12: Open File</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=Shawn.file-name-search" rel="noopener noreferrer" target="_blank">File Name Search</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=DaGhostman.vs-treeview" rel="noopener noreferrer" target="_blank">File Tree View</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=sleistner.vscode-fileutils" rel="noopener noreferrer" target="_blank">File Utils</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=Janne252.fontawesome-autocomplete" rel="noopener noreferrer" target="_blank">Font Awesome Auto-complete &amp; Preview</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=rifi2k.format-html-in-php" rel="noopener noreferrer" target="_blank">Format HTML in PHP</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-git-history" rel="noopener noreferrer" target="_blank">Git File History</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=vincaslt.highlight-matching-tag" rel="noopener noreferrer" target="_blank">Highlight Matching Tag</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=sidthesloth.html5-boilerplate" rel="noopener noreferrer" target="_blank">HTML Boilerplate</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=AndersEAndersen.html-class-suggestions" rel="noopener noreferrer" target="_blank">HTML Class Suggestions</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css" target="_blank">HTML CSS Support</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=tht13.html-preview-vscode" rel="noopener noreferrer" target="_blank">HTML Preview</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=abusaidm.html-snippets" rel="noopener noreferrer" target="_blank">HTML Snippets</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=hwencc.html-tag-wrapper" rel="noopener noreferrer" target="_blank">html tag wrapper</a> (ctrl+shift+i)</li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=kaiwood.indentation-level-movement" rel="noopener noreferrer" target="_blank">Indentation Level Movement</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=Zignd.html-css-class-completion" rel="noopener noreferrer" target="_blank">IntelliSense for CSS</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=shinnn.standard" rel="noopener noreferrer" target="_blank">JS "Standard" Linter</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=bierner.lit-html" rel="noopener noreferrer" target="_blank">lit-html</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=yzhang.markdown-all-in-one" rel="noopener noreferrer" target="_blank">Markdown All in One</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=shd101wyy.markdown-preview-enhanced" rel="noopener noreferrer" target="_blank">Markdown Preview Enhanced</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=bierner.markdown-preview-github-styles" rel="noopener noreferrer" target="_blank">Markdown Preview Github Styling</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=vstirbu.vscode-mermaid-preview" rel="noopener noreferrer" target="_blank">Mermaid Preview</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-multiclip" rel="noopener noreferrer" target="_blank">Multiple clipboards for VSCode</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=SaugatMaharjan.nativeemmet" rel="noopener noreferrer" target="_blank">nativeEmmet</a> (Cf. <a href="https://docs.emmet.io/abbreviations/syntax/" target="_blank">Doc Emmet</a>)</li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=eg2.vscode-npm-script" rel="noopener noreferrer" target="_blank">npm</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=christian-kohler.npm-intellisense" rel="noopener noreferrer" target="_blank">npm Intellisense</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=dqsully.octobercms-template-language" rel="noopener noreferrer" target="_blank">OctoberCMS Template Language</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=Fr43nk.seito-openfile" rel="noopener noreferrer" target="_blank">Open file</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=jack89ita.open-file-from-path" rel="noopener noreferrer" target="_blank">Open file From Path</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=techer.open-in-browser" rel="noopener noreferrer" target="_blank">open in browser</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=bcanzanella.openmatchingfiles" rel="noopener noreferrer" target="_blank">Open Matching Files</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=ryu1kn.partial-diff" rel="noopener noreferrer" target="_blank">Partial Diff</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=ionutvmi.path-autocomplete" rel="noopener noreferrer" target="_blank">Path Autocomplete</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-debug" rel="noopener noreferrer" target="_blank">PHP Debug</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=vincentkos.php-docblock-generator" rel="noopener noreferrer" target="_blank">Php DocBlock Generator</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-pack" rel="noopener noreferrer" target="_blank">PHP Extension Pack</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=Sophisticode.php-formatter" rel="noopener noreferrer" target="_blank">PHP Formatter</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=phproberto.vscode-php-getters-setters" rel="noopener noreferrer" target="_blank">PHP Getters &amp; Setters</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=bmewburn.vscode-intelephense-client" rel="noopener noreferrer" target="_blank">PHP Intelephense</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-intellisense" rel="noopener noreferrer" target="_blank">PHP IntelliSense</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=HvyIndustries.crane" target="_blank">PHP Intellisense - Crane</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=small.php-ci" rel="noopener noreferrer" target="_blank">PHP intellisense for codeigniter</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=MehediDracula.php-namespace-resolver" rel="noopener noreferrer" target="_blank">PHP Namespace Resolver</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=phiter.phpstorm-snippets" rel="noopener noreferrer" target="_blank">PHP Snippets from PHPStorm</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=ikappas.phpcs" rel="noopener noreferrer" target="_blank">phpcs</a> (Laisser désactivée si pas réglée)</li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=kokororin.vscode-phpfmt" rel="noopener noreferrer" target="_blank">phpfmt - PHP formatter</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=jebbs.plantuml" rel="noopener noreferrer" target="_blank">PlantUML</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode" rel="noopener noreferrer" target="_blank">Prettier - Code formatter</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=mohsen1.prettify-json" rel="noopener noreferrer" target="_blank">Prettify JSON</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=AlanWalk.quick-open-file" rel="noopener noreferrer" target="_blank">Quick Open File</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=robinbentley.sass-indented" rel="noopener noreferrer" target="_blank">Sass</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=brainfit.split-lines" rel="noopener noreferrer" target="_blank">Split Lines</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=chenxsan.vscode-standardjs" rel="noopener noreferrer" target="_blank">StandardJS - JavaScript Standard Style</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround" rel="noopener noreferrer" target="_blank">Surround</a>
		<span>&nbsp;</span>(ctrl+shift+T)</li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=krizzdewizz.tag-rename" rel="noopener noreferrer" target="_blank">tag-rename</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=eprincev-egor.toggle-upper-case" rel="noopener noreferrer" target="_blank">toggle-upper-case</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=whatwedo.twig" rel="noopener noreferrer" target="_blank">Twig</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=mblode.twig-language" rel="noopener noreferrer" target="_blank">Twig Language</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=mblode.twig-language-2" rel="noopener noreferrer" target="_blank">Twig Language 2</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=bajdzis.vscode-twig-pack" rel="noopener noreferrer" target="_blank">TWIG pack</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=cerzat43.twigcs" target="_blank">Twigcs Linter</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=Hirse.vscode-ungit" rel="noopener noreferrer" target="_blank">Ungit</a> (Optimisation: Installer UNGIT dans le système)</li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=rv170.ungit-tab" rel="noopener noreferrer" target="_blank">Ungit Tab</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=qinjia.view-in-browser" rel="noopener noreferrer" target="_blank">View In Browser</a></li>
	<li><a href="https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare" rel="noopener noreferrer" target="_blank">VS Live Share</a></li>
</ol>

<h4>Réglages</h4>

<ol>
	<li>Activer Fichier &gt; Enregistrement automatique</li>
	<li>Concernant php path</li>
	<li>Type October =&gt; HTML</li>
</ol>