[viewBag]
title = "Outils"
url = "/doc/outils"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==

<style>
  .pageDoc li h3 {
    margin-top: 30px;
  }

  .pageDoc td {
    margin: 5px;
    padding: 10px;
    border: 0px solid white;
  }

  .pageDoc td.lb {
    border-left: 1px solid white;
  }
</style>
<section class="pageDoc">

  <h1>Installer un environnement de développement</h1>

  <p>Pour chaque étape, exemples en vidéo pour</p>

  <table style="width: 100%;">
    <tbody>
    <tr>
      <td style="width: 50.0000%;">
        <div style="text-align: center;"><img src="/storage/app/media/uploaded-files/windows_logo.png"
                                              style="height: 40px;" class="fr-fic fr-dii">&nbsp; Windows
        </div>
      </td>
      <td>&amp;</td>
      <td style="width: 50.0000%;">
        <div style="text-align: center;"><img src="/storage/app/media/uploaded-files/linux_logo.png"
                                              style="height: 40px;" class="fr-fic fr-dii">&nbsp;Kubuntu
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>

  <h4>
    <mark>NOUVELLE VIDÉO</mark>
    :
  </h4>

  <h3><a href=https://www.youtube.com/watch?v=nxNbVAncfVQ&list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&index=1"
         target="_blank"><strong>Utiliser
    Kubuntu sous Windows</strong></a> en moins de 30 minutes !</h3>
  <br>
  <br>

  <h2>Base des outils recommandés</h2>

  <ul>
    <li>

      <h3>1 Préparation du PC</h3>

      <p>Installation Chrome (Chromium pour Linux, installé via cCleaner pour Win, ), défini en tant que navigateur par
        défaut,
        <br>Nettoyage barre des tâches &amp; bureau
        <br>
      </p>

      <table style="width: 100%;">
        <tbody>
        <tr>
          <td style="width: 50%; text-align: center;">
            <a alt=" Vidéo installation cCleaner &amp; Chrome " href="https://www.youtube.com/watch?v=xALd0yLho7w"
               target="_blank" title=" Cliquer pour voir la

 Vidéo installation cCleaner &amp; Chrome "><img src="/storage/app/media/uploaded-files/windows_logo.png"
                                                 style="width: 40px; height: 40px;" class="fr-fic fr-dib"
                                                 data-result="success"></a>
          </td>
          <td style="width: 50%; text-align: center;" class="lb">
            <a alt=" Vidéo installation cCleaner &amp; Chrome "
               href="https://www.youtube.com/watch?v=fKE-PMkRfPg&index=2&list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP"
               target="_blank" title=" Cliquer pour voir la

 Vidéo installation Stacer &amp; Chromium "><img src="/storage/app/media/uploaded-files/linux_logo.png"
                                                 style="height: 40px;" class="fr-fic fr-dib" data-result="success"></a>
          </td>
        </tr>
        <tr>
          <td style="width: 50.0000%;">
            <br>
          </td>
          <td style="width: 50.0000%;" class="lb">
            <div style="text-align: center;">Voir aussi la <a
                alt=" Vidéo installation cCleaner &amp; Chrome + 20.000 Light Years "
                href="https://www.youtube.com/watch?v=JpnqUzjX5CE&amp;t=3s" target="_blank"
                title=" Cliquer pour voir la                   Vidéo installation Stacer &amp; Chromium  + 20.000 Light Years ">version
              longue</a><span style="text-align: center;"><br>&nbsp;(Inclus: <i>20.000 Light Years</i>)</span></div>
          </td>
        </tr>
        </tbody>
      </table>
    </li>

    <li>

      <h3>2. Serveur local</h3>

      <table style="width: 100%;">
        <tbody>
        <tr>
          <td style="width: 50%; text-align: center;">
            <a alt=" Vidéo installation Laragon &amp; VH " href="https://www.youtube.com/watch?v=EC28MgOYv4c"
               target="_blank" title=" Cliquer pour voir la

 Vidéo installation Laragon &amp; VH "><img src="/storage/app/media/uploaded-files/windows_logo.png"
                                            style="width: 40px; height: 40px;"></a>
          </td>
          <td style="width: 50%; text-align: center;" class="lb">
            <a alt=" Vidéo installation AMPPS "
               href="https://www.youtube.com/watch?v=YGPjL7hthhU&list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&index=3"
               target="_blank" title=" Cliquer pour voir la

 Vidéo installation AMPPS "><img src="/storage/app/media/uploaded-files/linux_logo.png"
                                 style="height: 40px;"></a>
          </td>
        </tr>
        <tr>
          <td style="width: 50.0000%; text-align: center;">
            Architecture <a href="https://laragon.org/download/" target="_blank"
                            title=" Lien direct pour télécharger Laragon ">'Laragon-Wamp'</a><br>
            <a href="/doc/outils/laragon">+ d'infos</a>
          </td>
          <td style="width: 50.0000%; text-align: center;" class="lb">
            <a alt=" Vidéo installation AMPPS " href="http://ampps.com/downloads" target="_blank"
               title=" Lien direct pour télécharger AMPPS ">'AMPPS'</a><br>
            <a href="/doc/outils/ampps">+ d'infos</a>
          </td>
        </tr>
        </tbody>
      </table>
      =&gt; Réalisation de
      <mark>votre première page Web</mark>
      !
      <br>
      <br>


    </li>
    <li>

      <h3>3 Outils Git &amp; Éditeur</h3>

      <p>Pré-requis: <a href="/doc/outils/gitlab"><strong>G</strong>it<strong>L</strong>ab</a> &amp; <a
          href="/doc/outils/gitkraken"><strong>G</strong>it<strong>K</strong>raken</a><br>
        <a href="https://code.visualstudio.com/" target="_blank"<strong>V</strong>isual
        <strong>S</strong>tudio <strong>Code</strong></a><br>(Avec plugins, dont '<strong>L</strong>ive
        <strong>S</strong>erver' & LS Share)<br>
        <a href="/doc/outils/vscode">+ d'infos concernant VSC</a>
        <br>

      <table style="width: 100%;">
        <tbody>
        <tr>
          <td style="width: 50.0000%; text-align: center;">
            <a alt=" Vidéo installation GK &amp; VSC " href="https://www.youtube.com/watch?v=uIeISqIp698&amp;t=462s"
               target="_blank" title=" Cliquer pour voir la

                 Vidéo installation  GK &amp; VSC "><img src="/storage/app/media/uploaded-files/windows_logo.png"
                                                         style="height: 40px;" class="fr-fic fr-dii"></a>
          </td>
          <td style="width: 50%; text-align: center;" class="lb">
            <a alt=" Vidéo installation AMPPS "
               href="https://www.youtube.com/watch?v=Vqh_rFm_PcM&list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&index=4"
               target="_blank" title=" Cliquer pour voir la

 Vidéo sur GL, GK & VSC

  ( 3 modules ) "><img src="/storage/app/media/uploaded-files/linux_logo.png"
                               style="height: 40px;"></a>
          </td>
        </tr>
        </tbody>
      </table>


    </li>
    <li>

      <h3>4 Échanges &amp; suivi d'activité</h3>
      <!-- 2DoLi @ l'occase:
cf. pb url c57 transformé / webpack (uniquement pour localhost:3000)  -->

      <p><a href="https://c57.slack.com/messages/CD1RJNGF7/" target="_blank">Slack</a>
        <br>Créer compte + install APP / smartphone - <a href="/doc/outils/slack">+ d'infos</a></p>
    </li>
  </ul>
</section>