[viewBag]
title = "Laragon"
url = "/doc/outils/laragon"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1>Laragon</h1>

<h3>1. Paramétrer votre Laragon</h3>

<p><img src="/storage/app/media/telechargement.png" style="width: 885px; height: 610.65px;" class="fr-fic fr-dib"></p>

<h3>
	<br>
</h3>

<h3>2. Éteindre Laragon et le relancer</h3>

<h3>3. Votre première page 'en ligne':&nbsp;</h3>

<h4>Dans le dossier de votre serveur local, (<a href="http://C:/laragon/www" rel="noopener noreferrer" target="_blank">C:/laragon/www</a>) crééer un dossier nommé "<strong>sitetest</strong>" et poser dedans un fichier nommé: <strong>index.html</strong></h4>

<h4>Utiliser votre VSC pour l'ouvrir et écrire ce que vous souhaitez dedans. Enregistrer</h4>

<h4>
	<br>
</h4>

<h4>Avec votre navigateur, rendez-vous: <a href="http://sitetest" rel="noopener noreferrer" target="_blank"><strong>http://sitetest</strong></a></h4>

<h4>
	<br>
</h4>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>